.M1-2-bg-color {
    background: linear-gradient(to right, #ec2029 0%, #1077bc 100%) !important;
}

.M1-bg-color {
	background-color: #ec2029 !important;
}

.M2-bg-color {
	background-color: #1077bc !important;
}

.M3-bg-color {
	background-color: #3bb44b !important;
}

.M4-bg-color {
	background-color: #fcd403 !important;
}

.tram-bg-color {
	background-color: #f6921e !important;
}

.trolley-bg-color {
	background-color: #0095da !important;
}

.bus-bg-color {
	background-color: #be1e2d !important;
}
