:root {
	--M1-M2-color: linear-gradient(to right, #ec2029 0%, #1077bc 100%);
	--M1-color: #ec2029;
	--M2-color: #1077bc;
	--M3-color: #3bb44b;
	--M4-color: #fcd403;
	--tram-color: #f6921e;
	--trolley-color: #0095da;
	--bus-color: #be1e2d;
	--night-color: #000;
}

.M1-2-bg-color {
    background: var(--M1-M2-color) !important;
}

.M1-bg-color {
	background-color: var(--M1-color) !important;
}

.M2-bg-color {
	background-color: var(--M2-color) !important;
}

.M3-bg-color {
	background-color: var(--M3-color) !important;
}

.M4-bg-color {
	background-color: var(--M4-color) !important;
}

.tram-bg-color {
	background-color: var(--tram-color) !important;
}

.trolley-bg-color {
	background-color: var(--trolley-color) !important;
}

.bus-bg-color {
	background-color: var(--bus-color) !important;
}

.night-bg-color {
	background-color: var(--night-color) !important;
}
